/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* ¡Aquí está tu color de fondo! */
  background-color: #FFFCF5; 

  /* Un color de texto base que contraste bien */
  color: #333;
}